name: Django Project CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up Python 3.9
      uses: actions/setup-python@v2.3.0
      with:
        python-version: 3.9
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip poetry django
    - name: Create Test Project
      run: |
        django-admin startproject --template=. test_project
    - name: Run Tests
      run: |
        cd test_project
        poetry install
        poetry run inv test
